<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/02584a5a33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- sidebar -->
<div class="flex h-screen">
  <div class="fixed inset-y-0 left-0 w-64 bg-white text-gray-400 ">
    <div class="flex items-center justify-center h-16 mt-3">
      <img class="h-9 mr-10 w-6/12" src="https://ollang.com/assets/img/home-saas/ollang-logo.png" alt="Logo">
    </div>
    <ul class="mt-6 ml-5">
      <li class="px-6 py-2 m-2 font-medium hover:bg-stone-100"><i class="fas fa-user-circle mr-2"></i> My Job Feed</li>
      <li class="px-6 py-2 m-2 font-medium hover:bg-stone-100"><i class="fas fa-search mr-2"></i> Discover Jobs</li>
      <li class="px-6 py-2 m-2 font-medium hover:bg-stone-100"><i class="fas fa-bookmark mr-2"></i> Saved Jobs</li>
      <li class="px-6 py-2 m-2 font-medium hover:bg-stone-100"><i class="fas fa-file-contract mr-2"></i> Propsal</li>
      <li class="px-6 py-2 m-2 font-medium hover:bg-stone-100"><i class="fas fa-file-alt mr-2"></i> All Contracts</li>
      <li class="px-6 py-2 m-2 font-medium hover:bg-stone-100"><i class="fas fa-user mr-2"></i> Profile</li>
      <li class="px-6 py-2 m-2 font-medium hover:bg-stone-100"><i class="fas fa-money-bill-wave mr-2"></i> Transaction </li>
      <li class="px-6 py-2 m-2 font-medium hover:bg-stone-100"><i class="fas fa-chart-bar mr-2"></i> Reports</li>
    </ul>
  </div>

  <!-- sidebar -->
  <!-- header -->

  <div class="flex-1">
    <div class="flex justify-between items-center bg-white py-4 px-6 border-b border-gray-200">
      <div class="flex items-center">
        <img class="h-8" src="https://ollang.com/assets/img/home-saas/ollang-logo.png" alt="Logo">
        <h1 class="ml-2 font-bold text-gray-800">Site Adı</h1>
      </div>
      <div class="relative">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
          <i class="fas fa-search text-gray-400"></i>
        </span>
        <input type="text" class="block w-full pl-10 pr-3 py-2 rounded-lg border border-gray-400 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent" placeholder="Arama...">
      </div>
      <div class="flex items-center">
        <button class="mr-4">
          <i class="fas fa-bell text-gray-400 hover:text-gray-600"></i>
        </button>
        <button>
          <i class="fas fa-user-circle text-gray-400 hover:text-gray-600"></i>
        </button>
      </div>
    </div>
  </div>
</div>

  <!-- header -->
</body>
</html>
<router-outlet></router-outlet>